[Desktop Entry]
Version=1.0
Type=Application

Name=GIF Picker
Comment=Proves that we can use Vala and Gtk
Categories=Development;Education;

Icon=io.ricol03.gif-picker
Exec=io.ricol03.gif-picker
Terminal=false
StartupNotify=true
DBusActivatable=false
X-GNOME-UsesNotifications=true
