[Desktop Entry]
Version=1.0
Type=Application

Name=GIF Picker
Comment=Local GIF library for clipboard copying
Categories=Development;

Icon=gifpicker-small
Exec=io.ricol03.gif-picker
Terminal=false
StartupNotify=true
DBusActivatable=false
X-GNOME-UsesNotifications=true
