/* * { */
/*     background-color: #ffffff; */
/*     box-shadow: none; */
/* } */

/* .window-frame { */
/*   box-shadow: none; */
/*   margin: 1; */
/* } */

.favourite-button {
    background-color: #000000;
    transition: 200ms;
}

.favourite-button:hover {
	background-color: #2B2B2B;
    opacity: 1.0;
}